@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .app-btn {
        @apply p-2 px-6 bg-red-600 text-white hover:bg-red-500 rounded;
    }

    .app-btn-danger {
        @apply p-2 px-6 bg-red-900 text-white hover:bg-red-800 rounded;
    }

    .app-btn-green {
        @apply p-2 px-6 bg-green-600 text-white hover:bg-green-500 rounded;
    }
}

/*
    https://github.com/tailwindlabs/tailwindcss/discussions/2394
    https://github.com/tailwindlabs/tailwindcss/pull/5732
*/
@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
}
