@inject Microsoft.JSInterop.IJSRuntime JSR

<div>
    <div @onclick="PlayerDivClicked">
        <div id="ytplayer" style="pointer-events: none;">
            Loading the player..
        </div>
    </div>
</div>

@code {

    private YTPlayerJsInterop JsInterop { get; set; }
    private bool JsInteropLoadComplete { get; set; }

    private async Task PlayerDivClicked()
    {
        await LoadYT();
        await JsInterop.TogglePlayPause();
    }

    private async Task LoadYT()
    {
        if (!JsInteropLoadComplete)
        {
            JsInterop = new YTPlayerJsInterop(JSR);
            JsInteropLoadComplete = true;
            await JsInterop.LoadYT();
        }
    }

    /// <summary>
    /// Load the youtube vieo specified by video id string
    /// </summary>
    /// <param name="videoId"></param>
    public async Task LoadVideo(string videoId)
    {
        await LoadYT();
        await JsInterop.LoadVideoById(videoId);
    }

    /// <summary>
    /// Play the loaded video.
    /// Must be invoked after a video is loaded via LoadVideo API
    /// </summary>
    public async Task PlayVideo()
    {
        await LoadYT();
        await JsInterop.PlayVideo();
    }

    /// <summary>
    /// Pause the loaded video.
    /// </summary>
    public async Task PauseVideo()
    {
        await LoadYT();
        await JsInterop.PauseVideo();
    }
}
