@page "/about"

<h1>About</h1>
<br />
<strong>Developer Info</strong>
<p class="dev-info">
    Saurabh Srivastava <br />
    sobu86@gmail.com <br />
    <a href="https://github.com/sobu86" target="">https://github.com/sobu86</a>
</p>
