@page "/"
@page "/ytplayerdemo"

<h1>YTPlayer Demo</h1>

<p>Here goes..</p>

<BlazorUtils.YTPlayer.YTPlayer @ref="player" Width="80vw" HeightPx="600"></BlazorUtils.YTPlayer.YTPlayer>

@code {

    BlazorUtils.YTPlayer.YTPlayer player;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (player != null)
        {
            await player.LoadVideo("M7lc1UVf-VE");
            await player.PlayVideo();
        }
    }
}
